<!DOCTYPE html>
<html>
<head>
	<title>login page</title>
</head>
<body>
	<h1>Login</h1>

	<form method="post" onsubmit="return validate()">
		<table>
			<tr>
				<td>Username</td>
				<td><input type="text" name="username" required="required" id="username"></td>
			</tr>
			<tr>
				<td>Password</td>
				<td><input type="password" name="password" required="required" id="password"></td>
			</tr>
			<tr>
				<td><input type="submit" name="submit" value="Submit"></td>
				<td></td>
			</tr>
		</table>
	</form>

	<script type="text/javascript">
		function validate(){
			var username = document.geteElementById('username');
			var password = document.geteElementById('password');
			if(username.value.trim()=="" || password.value.trim()=="")
			{
				document.alert("Username/password can not be empty");
				return false;
			}
			else
				return true;
		}
	</script>
</body>
</html>