<!DOCTYPE html>
<html>
<head>
	<title>Registration</title>
</head>
<body>
	<h1><a href="/registrataion/registrationAdmin">Admin</a></h1>
	<h1><a href="/registrataion/registrationCustomer">customer</a></h1>

</body>
</html>