<!DOCTYPE html>
<html>
	<head>
		<title>Home</title>
	</head>
	<body>
		<h1>Welcome Home</h1>

		<a href="/user/userlist">User List</a> |
		<a href="/product/productlist">product List</a> |
		<a href="/logout">logout</a>

	</body>
</html>