<!DOCTYPE html>
<html>
	<head>
		<title>Home</title>
	</head>
	<body>
		<h1>Welcome to Mr. X</h1>

		<a>User Details</a> |
		<a href="/user/addemp">Add Employee</a> |
		<a href="/user/userlist">Userlist</a> |
		<a href="/logout">logout</a> |

	</body>
</html>