<!DOCTYPE html>
<html>
	<head>
		<title>Home</title>
	</head>
	<body>
		<h1>Welcome to Mr. X</h1>

		<a href="user/profile">Profile</a> |
		<a href="/user/addjob">Add Job</a> |
		<a href="/logout">logout</a> |

	</body>
</html>